[Video]
resolution x = 2560
resolution y = 1440
window border = false
framerate limit = 120

[GUI]
ttf resolution = 120
font size = 20
scaling factor = 1.5

[Input]
always run = true

[Camera]
third person camera distance = 280
